.main-header-div{
    display: flex;
  justify-content: space-around;
  background-color: rgb(44, 43, 43);
  padding: 15px;
}
.links{
    display: flex;
 justify-content: space-around;
 gap: 30px;

}
.search-bar{
    display: flex;
    align-items: center;
    border: 1px solid grey;
    background-color: white;
    padding: 4px;
    border-radius: 5px;
    color: grey;
}
.search-bar>input{
    outline: none;
    border: none;

}